html {
  height: 100%;
  background: linear-gradient(#45a0cf, #f1ded3);
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 6px;
  transition: filter 0.3s;
}

button:not([disabled]):hover{
  filter: brightness(125%);
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  margin: 10px 100px;
  justify-content: space-around;
}

.action-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  margin: minmax(100px, 500px);
  justify-content: space-around;
  margin: 10px 100px;
}

.action-row button {
  background-color: #e17f62;
  color: white;
}
